body {
    font-family: roboto;
    min-height: 100vh;
    margin: 0;
    background-image: url(images/Main.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.header{
    display: flex;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.699);
    padding: 0 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.853); 
}


.left-links, .right-links {
    display: flex;
    gap: 30px;
}

.headerbutton {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 500;
}
.header .left-links {
    margin-right: auto;
}
.header .right-links {
    margin-left: auto;
}
ul{
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

.logo {
    width: auto;
    height: 40px;
}


.hero {
    margin-top: 80px;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.desc {
    color: white;
    width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.611);
    border-radius: 30px;
    padding: 0 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.853);

}

.stickers{
    display: flex;
    gap: 25px;
    justify-self: center;
    align-self: center;
    align-items: center;
}
#credit {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.stickers .logo {
    width: auto;
    height: 60px;
}

p {
    font-size: 20px;
}

#hero {
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.853);
    border: 3px solid white;
}


.section{
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 40px;
    border-top: 2px solid white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.title {
    
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.container {
    margin-left: 60px;
}

.deets {
    margin-left: 100px;
    color: white;
    width: 1000px;
    font-size: 24px;
    margin-top: 20px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.384);
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 10px;
}

.cards {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-right: 120px;
    gap: 55px;
}

.person {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 0px 15px rgb(0, 0, 0);

    
    display: flex;
    align-items: center;
    gap: 60px;
}

.odd{
    flex-direction: row-reverse;
}

.person img {
    height: auto;
    width: 500px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.926);
    border-radius: 20px;
    border: 3px solid white;
}

.quote{
    margin-top: 60px;
    padding: 80px 100px;
    font-size: 28px;
    color: white;
    background-color: rgba(0, 0, 0, 0.436);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.by {
    padding-top: 10px;
    margin-left: auto;
    font-size: 18px;
}

.saying {
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    width: 500px;
}

.quote img {
    height: auto;
    width: 400px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.859);
    border-radius: 15px;
    border: 2px solid white;
}

.comm {
    background-color: rgba(0, 0, 0, 0.273);
    font-size: 24px;
    font-weight: bold;
    margin: 60px 300px;
    border: 3px solid white;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    gap: 150px;
}

button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.759);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.859);
}


